{% macro icon_color(entity_id) %}
{% set state = states(entity_id) | float %}
{% if state == 0 %} green
{% elif state <= 1 %} yellow
{% elif state <= 2 %} orange
{% elif state <= 3 %} red
{% elif state > 3 %} purple
{% else %} grey
{% endif %}
{% endmacro %}
