{% macro aqi_primary(entity_id) %}
{% set state = states(entity_id) | float %}
{% if state <= 50 %} AQI - Good
{% elif state <= 100 %} AQI - Moderate
{% elif state <= 150 %} AQI - Unhealthy for Sensitive Groups
{% elif state <= 200 %} AQI - Unhealthy
{% elif state <= 300 %} AQI - Very Unhealthy
{% elif state > 300 %} AQI - Hazardous
{% endif %}
{% endmacro %}

{% macro aqi_icon_color(entity_id) %}
{% set state = states(entity_id) | float %}
{% if state <= 50 %} green
{% elif state <= 100 %} yellow
{% elif state <= 150 %} orange
{% elif state <= 200 %} red
{% elif state <= 300 %} purple
{% elif state > 300 %} '#7e0023'
{% else %} grey
{% endif %}
{% endmacro %}
