{% macro secondary(entity_id) %}
{% if is_state('device_tracker.phone1', 'home') %} Home
{% elif is_state('device_tracker.phone1', 'Work') %} Work
{% elif is_state('device_tracker.phone1', 'Bar') %} Bar
{% else %} Away {{ states('device_tracker.phone1') }}.
{% endif %}
{% endmacro %}

{% macro icon(entity_id) %}
{% if is_state('device_tracker.phone1', 'home') %} mdi:home-account
{% elif is_state('device_tracker.phone1', 'work') %} mdi:desktop-classic
{% elif is_state('device_tracker.phone1', 'Bar') %} mdi:beer
{% else %} mdi:home-search
{% endif %}
{% endmacro %}

{% macro icon_color(entity_id) %}
{% if is_state('device_tracker.phone1', 'home') %} green
{% elif is_state('device_tracker.phone1', 'work') %} red
{% elif is_state('device_tracker.phone1', 'Bar') %} orange
{% else %} cyan
{% endif %}
{% endmacro %}