{% macro aqi_icon_color(entity_id) %}
{% set state = states('sensor.air_quality_index_borken') | float %}
{% if state <= 50 %} green
{% elif state <= 100 %} blue
{% elif state <= 150 %} orange
{% elif state <= 200 %} red
{% elif state <= 300 %} purple
{% elif state > 300 %} '#7e0023'
{% else %} grey
{% endif %}
{% endmacro %}
